PORT=5001
MONGO_URI=mongodb+srv://Chat-App:Harendra8218@cluster0.lyo35ge.mongodb.net/streamify?retryWrites=true&w=majority
STREAM_API_KEY=qey2n7ya2urt
STREAM_API_SECRET=mmg4e4znvxczbh5jdvbdde5rtbf3qnyhvau5pdmm6a67szyx79ucd4mdn5wdvn6h
JWT_SECRET_KEY=my_secret
NODE_ENV=development